.SearchResult {
  gap: 10px;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  padding: 0px 5px;
}

.SearchResults {
  display: grid;
  grid-template-rows: 40px 1fr;
  & > p {
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  &__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0px 10px;
    overflow: scroll;
    max-height: 100vh;
  }
  &__container::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 700px) {
  .SearchResults {
    padding: 0px 15px;
    & > p {
      font-size: 3.2rem;
      font-weight: 300;
    }
    &__container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      padding: 0px 10px;
      overflow: scroll;
      max-height: 100vh;
    }
  }
}

@media (min-width: 1440px) {
  .SearchResults {
    padding: 0px 15px;
    & > p {
      font-size: 3.2rem;
      font-weight: 300;
    }
    &__container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}