.Cards {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0px 6px;
}

@media (min-width: 700px) {
  .Cards {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 10px;
  }
}

@media (min-width: 1440px) {
  .Cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}