.Card {
  max-width: 164px;
  max-height: 162px;
  margin: 10px 0px;
  & > div:nth-child(1) {
    width: 164px;
    height: 110px;
  }
  & div:nth-child(1) {
    display: flex;
    position: relative;
    & .true {
      & svg {
        & path {
          fill: #fff;
        }
      }
    }
    & div {
      position: absolute;
      right: 8px;
      top: 8px; 
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      background-color: #161d2f77;
    }
    & img {
      width: 100%;
      border-radius: 5px;
    }
  }
  & div:nth-child(2) {
    display: flex;
    flex-direction: column;
    & p {
      margin: 0;
      margin: 5px 5px 5px 0px;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
    }
    & p:nth-child(3) {
      & svg {
        margin-right: 2px;
        transform: scale(0.580);
      }
    }
    & p:nth-child(2),
     p:nth-child(4) {
      margin: 0;
      margin-right: 2px;
      opacity: 50%;
     }
     & p:nth-child(5) {
      margin-left: 3px;
     }
  }
  & h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
}

.CardTrending {
  position: relative;
  min-width: 240px;
  overflow: hidden;
  & div:nth-child(1) {
    width: 100%;
    position: relative;
    & .true {
      & svg {
        & path {
          fill: #fff;
        }
      }
    }
    & div {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      background-color: #161d2f77;
    }
    & img {
      width: 100%;
      height: 140px;
      border-radius: 5px;

    }
  }
  & div:nth-child(2) {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0px 20px;
    & h3 {
      font-weight: 300;
    }
    & div {
      display: flex;
      align-items: center;
      gap: 5px;
      & p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 300;
      }
      & p:nth-child(3){
        display: flex;
        align-items: center;
        & svg {
          transform: scale(0.580);
        }
      }
      & p:nth-child(4) {
        display: none;
      }
      & p:nth-child(5) {
        position: absolute;
        right: -2px;
        bottom: -12px;
        width: 34px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0.123);
        border-radius: 25px;
        display: grid;
        place-items: center;
        margin: 0;
      }
    }
    & h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

@media (min-width: 700px) {
  .Card {
    max-width: 220px;
    max-height: 192px;
    margin: 10px 0px;
    & > div:nth-child(1) {
      width: 100%;
      height: 140px;
    }
    & div:nth-child(1) {
      & img {
        width: 220px;
        border-radius: 8px;
      }
      & div {
        right: 15px;
        top: 15px;
      }
    }
    & div:nth-child(2) {
      display: flex;
      flex-direction: column;
      & p {
        margin: 8px 8px 8px 0px;
        font-size: 1.3rem;
      }
      & p:nth-child(3) {
        & svg {
          margin-right: 4px;
          transform: scale(0.600);
        }
      }
      & p:nth-child(2),
       p:nth-child(4) {
        margin-right: 2px;
       }
       & p:nth-child(5) {
        margin-left: 5px;
       }
    }
    & h3 {
      font-size: 1.8rem;
    }
  }


  .CardTrending {
    min-width: 470px;
    & div:nth-child(1) {
      & img {
        height: 230px;
        border-radius: 8px;
      }
      & div {
        right: 25px;
        top: 20px;
      }
    }
    & div:nth-child(2) {
      bottom: 30px;
      padding: 0px 25px;
      & div {
        gap: 8px;
        & p {
          font-size: 1.5rem;
        }
        & p:nth-child(3){
          & svg {
            transform: scale(0.600);
            margin-right: 2px;
          }
        }
        & p:nth-child(4) {
          display: inline;
        }
        & p:nth-child(5) {
          position: relative;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          background-color: rgba(255, 255, 255, 0);
          border-radius: 25px;
          display: inline;
        }
      }
      & h3 {
        font-size: 2.4rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .Card {
    max-width: 280px;
    max-height: 226px;
    margin: 10px 0px;
    & > div:nth-child(1) {
      width: 100%;
      height: 174px;
    }
    & div:nth-child(1) {
      & img {
        width: 280px;
        border-radius: 8px;
      }
      & div {
        right: 15px;
        top: 15px;
      }
    }
  }


  .CardTrending {
    min-width: 470px;
    & div:nth-child(1) {
      & img {
        height: 230px;
        border-radius: 8px;
      }
      & div {
        right: 25px;
        top: 20px;
      }
    }
    & div:nth-child(2) {
      bottom: 30px;
      padding: 0px 25px;
      & div {
        gap: 8px;
        & p {
          font-size: 1.5rem;
        }
        & p:nth-child(3){
          & svg {
            transform: scale(0.600);
            margin-right: 2px;
          }
        }
        & p:nth-child(4) {
          display: inline;
        }
        & p:nth-child(5) {
          position: relative;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          background-color: rgba(255, 255, 255, 0);
          border-radius: 25px;
          display: inline;
        }
      }
      & h3 {
        font-size: 2.4rem;
      }
    }
  }
}