.Card {
  width: 164px;
  height: 162px;
  margin-bottom: 15px;
  & div:nth-child(1) {
    display: flex;
    position: relative;
    & .true {
      & svg {
        & path {
          fill: #fff;
        }
      }
    }
    & div {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      background-color: #161d2f77;
    }
    & div:hover{
      // display: none;
    }
    & img {
      width: 100%;
      border-radius: 5px;
    }
  }
  & div:nth-child(2) {
    display: flex;
    flex-direction: column;
    & p {
      margin: 0;
      margin: 10px 5px 10px 0px;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
    }
    & p:nth-child(3) {
      & svg {
        margin-right: 2px;
        transform: scale(0.580);
      }
    }
    & p:nth-child(2),
     p:nth-child(4) {
      margin: 0;
      margin-right: 2px;
     }
     & p:nth-child(5) {
      margin-left: 3px;
     }
  }
  & h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
}

.CardTrending {
  position: relative;
  width: 240px;
  overflow: hidden;
  & div:nth-child(1) {
    width: 100%;
    position: relative;
    & .true {
      & svg {
        & path {
          fill: #fff;
        }
      }
    }
    & div {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 25px;
      background-color: #161d2f77;
    }
    & img {
      width: 100%;
      height: 140px;
      border-radius: 5px;

    }
  }
  & div:nth-child(2) {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0px 20px;
    & h3 {
      font-weight: 300;
    }
    & div {
      display: flex;
      align-items: center;
      gap: 5px;
      & p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 300;
      }
      & p:nth-child(3){
        display: flex;
        align-items: center;
        & svg {
          transform: scale(0.580);
        }
      }
      & p:nth-child(4) {
        display: none;
      }
      & p:nth-child(5) {
        position: absolute;
        right: -2px;
        bottom: -12px;
        width: 34px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0.123);
        border-radius: 25px;
        display: grid;
        place-items: center;
        margin: 0;
      }
    }
    & h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}