.SearchBar {
  width: 100%;
  margin: 0;
  margin: 20px 10px;
  & form {
    width: 100%;
    & label {
      display: flex;
      align-items: center;
      width: 100%;
      & svg {
        transform: scale(0.763);
      }
      & input {
        font-family: 'Outfit', sans-serif;
        width: 80%;
        height: 28px;
        border: none;
        outline: none;
        background-color: #10141E;
        color: white;
        font-size: 1.6rem;
        padding-left: 10px;
      }
      & input:focus {
        height: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #5A698F;
      }
    }
  }
}

@media (min-width: 400px) {
  .SearchBar {
    width: 100%;
    margin: 30px 20px;
    & form {
      & label {
        gap: 5px;
        & svg {
          transform: scale(1);
        }
        & input {
          font-size: 2.4rem;
          padding-left: 20px;
        }
        & input:focus {
          width: 89%;
          height: 40px;
          padding-bottom: 10px;
          border-bottom: 1px solid #5A698F;
        }
      }
    }
  }
}