@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  color: white;
  background-color: #10141E;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  padding-top: 60px;
  overflow-x: hidden;
}


@media (min-width: 400px) {
  #root {
    padding-top: 100px;
  }
}

@media (min-width: 1440px) {
  #root {
    width: 100%;
    overflow-y: hidden;
    padding-top: 20px;
    padding-left: 120px;
    display: grid;
    grid-template-areas:  "search"
                          "trending"
                          "section"
  }
}
