@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  color: white;
  background-color: #10141E;
}

#root {
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}