.Nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background-color: #161D2F;
  & div:nth-child(1) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    & svg:nth-child(1) {
      transform: scale(0.783);
      & path {
        width: 25px;
        height: 20px;
      }
    }
    & div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      & .Link {
        height: 20px;
        & svg {
          transform: scale(0.798);
        }
      }
    }
    & .User {
      width: 22px;
      & img {
        border-radius: 25px;
        outline: 2px solid white;
        width: 100%;
      }
    }
  }
}

@media (min-width: 400px) {
  .Nav {
    width: 90%;
    max-width: 719px;
    margin: 25px;
    border-radius: 10px;
    padding: 18px;
    & div:nth-child(1) {
      & svg:nth-child(1) {
        transform: scale(1);
      }
      & div:nth-child(2) {
        gap: 30px;
        & .Link {
          & svg {
            transform: scale(1);
          }
        }
      }
      & .User {
        width: 32px;
      }
    }
  }
}

@media (min-width: 640px) {
  .Nav {
    width: 92%;
  }
}

@media (min-width: 768px) {
  .Nav {
    width: 100%;
    max-width: 94%;
  }
}

@media (min-width: 1440px) {
  .Nav {
    width: auto;
    height: 95vh;
    padding: 25px 20px;
   & div:nth-child(1) {
    height: 100%;
    flex-direction: column;
    & div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr ;
    }
   }
  }
}


