.Trending {
  & h2 {
    margin: 15px 15px;
    font-size: 2rem;
    font-weight: 300;
  }
  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    padding: 0px 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    user-select: none;
    cursor: grab;
  }
  &__container:active {
    cursor: grabbing;
  }
  &__container::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 400px) {
  .Trending {
    & h2 {
      margin: 25px 25px;
      font-size: 3.2rem;
    }
    &__container {
      padding: 0px 25px;
      gap: 25px;
    }
  }
}

@media (min-width: 1440px) {
  .Trending {
    overflow: hidden;
    & h2 {
      margin: 15px 0px 25px 25px;
      font-size: 3.2rem;
    }
    &__container {
      padding: 0px 25px;
      gap: 42px;
    }
  }
}